@media (min-width: 40em) and (max-width:60em) {

	:root {
		--primary-color1: rgb(43, 123, 156);
		--primary-color2: rgb(10, 64, 64);
		--primary-color3: rgb(43, 131, 140);
		--secondary-color1: rgb(169, 237, 244);
		--secondary-color2: rgb(147, 183, 191);
		--secondary-color3: rgb(13, 13, 13);
		--secondary-color4: rgb(242, 242, 242);
		--accent1-color: rgb(226, 75, 5);
		--accent2-color: rgb(189, 97, 192);
	
		--paragraph-font: "Playfair Display", serif; 
		--heading-font: "Roboto", sans-serif;
	}
    #hamMenu {
		display: none; 
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header div h1{
		font-size: 30px;
	}
	
	.navigation {
		flex-direction: row;
		background-color: transparent;
        
	}
	.navigation a {
        display: block;
		/* flex: 1 1 100%; */
        color: var(--secondary-color4);
        padding: 0.6rem;
        text-decoration: none;
	}
    .navigation a:hover {
        text-decoration:wavy;
    }

	main {
		min-height: 400px;
	}

	select {
		display: block;
		border: none;
		background-color: var(--accent1-color);
		color: var(--secondary-color4);
		font-size: 1rem;
	}
	
	select:hover {
		background-color: var(--secondary-color2);
		color: var(--secondary-color3);
		font-weight: 700;
	}

	.first h2 {
		position: absolute;
		z-index: 1;
		font-size: 2.5rem;
		bottom: 12em;
	}

	.first p{
		position: absolute;
		z-index: 1;
		font-size: 1.5rem;
		bottom: 16em;
	}

	.first input[type="button"] {
		position: absolute;
		z-index: 1;
		bottom: 16em;
		font-size: 1rem;
	}

	.first picture {
		position: relative;
		opacity: 0.7;
	}

	.second {
		display: grid;
		grid-template: auto / 1fr 1fr;
		align-items: center;        
		position:relative;
    
	}

	.second h2 {
		grid-column: 1/2;
		position:absolute;
		top: 2rem;
		
	}

	.second p {
		grid-column: 1/2;
		background-color: var(--secondary-color2);
		padding: 5rem 1rem;
    }
	.second input[type="button"] {
		grid-column: 2/3;
		position:absolute;
		bottom: 1rem;
		font-size: 1rem;
	}

	.second img {
		grid-column: 2/3;
	}

    .third {
		display: grid;
		grid-template: auto / 1fr 1fr;
		align-items: center;        
		position:relative;
        padding: 2rem 0;
    
	}
    .third img {
		grid-column: 1/2;
        align-self: center;
        position:absolute;
	}

	.third h2 {
		grid-column: 2/3;
		position:absolute;
		top: 3rem;		
	}

	.third p {
		grid-column: 2/3;
		background-color: var(--secondary-color2);
		padding: 6rem 1rem;
    }
	.third input[type="button"] {
		grid-column: 1/2;
		position:absolute;
		bottom: 4rem;
		font-size: 1rem;
	}

    .fourth {
		display: grid;
		grid-template: auto / 1fr 1fr;
		align-items: center;
        justify-content: center;
		position:relative;
		padding: 2rem 0;
	}

	.fourth h2 {
		grid-column: 1/2;
		position:absolute;
		top: 3rem;
		font-size: 1.5rem;
		padding: 2rem;		
	}

	.fourth p {
		grid-column: 1/2;
		background-color: var(--secondary-color2);
		padding: 7em 2rem;
	}
	.fourth input[type="button"] {
		grid-column: 2/3;
		position:absolute;
		bottom: 18rem;
		font-size: 1rem;
	}
	.fourth img {
		grid-column: 2/3;
        padding: 0 0;
	}
	.fifth {
		display: grid;
		grid-template: auto / 1fr 1fr;
		align-items: center;        
		position:relative;
    
	}

	.fifth h2 {
		grid-column: 2/3;
		position:absolute;
		top: 1.5rem;
		
	}

	.fifth p {
		grid-column: 2/3;
		background-color: var(--secondary-color2);
		padding: 4.5rem 1rem;
    }
	.homeForm {
		grid-column: 1/2;
		position:absolute;
		bottom: 1rem;
		display: grid;
		bottom: 2rem;
		
	}
	.homeForm input[type="submit"] {
		font-size: 1rem;
	}

	.homeForm input[type="text"],
	input[type="email"] {
		font-size: 1rem;
	}

	.fifth img {
		grid-column: 1/2;
		position:absolute;
	}	

	footer {
		margin: 4rem 0 0;
		padding: 2rem 0;
		display: grid;
		grid-template: auto auto/ 1fr 1fr 1fr
	}

	.social {
		grid-column: 1/2;
	}

	.productsFoot {
		grid-column: 2/3;
	}

	.company {
		grid-column: 3/4;
	}

	.foot {
		grid-column: 1/4;
		padding: 1rem;
	}

	.productfirst a {
		top:3em;
		font-size: 3rem;
		
	}

	.products #returnBox {
		font-size: 1.5rem;
	
	}

	.newSpace {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 33.3%));
		margin: 0;
	}

	.newCard {
		margin: 1rem;
		padding: 1rem;
		box-shadow: -0.1em 0 0.8em gray;
	}
	
	
	.newCard p {
		padding: 0.5rem;  
	}

	.newCard p {
		padding: 0.5rem;  
	}
	
	.newCard h4 {
		padding:0.5rem;
		text-align: left;
	}
	
	.newCard h3 {
		padding: 0.5rem 0.5rem;
		background-color: var(--primary-color3);
		width: 100%;
		text-align: center;
		color: var(--secondary-color4);
		border-bottom: solid var(--primary-color1) 1px;
		border-left: solid var(--primary-color1) 1px;
		border-right: solid var(--primary-color1) 1px;
	}

	.contactPage {
		display: grid;
		justify-content: center;
		grid-template: auto auto auto/ 1fr 1fr;
		padding: 0;
		margin: 0;
		padding-bottom: 4rem;
	}
	.contactPage h1 {
		font-size: 4rem;
		grid-column: 1/3;
	}
	
	.contactbox {
		width: 20rem;
		height: 15rem;
	}

	.float1 {
		position: relative;
		top: -4rem;
		right: -2rem;
	}

	.float2 {
		position: relative;
		top: -4rem;
		left: -1rem;
	}
	
	.divForm {
		grid-column: 1/3;
	}

	.float3 {
		grid-column: 1/2;
		align-self: center;
	}

	iframe {
		grid-column: 2/3;
	}
}


