:root {
    --primary-color1: rgb(43, 123, 156);
    --primary-color2: rgb(10, 64, 64);
    --primary-color3: rgb(43, 131, 140);
    --secondary-color1: rgb(169, 237, 244);
    --secondary-color2: rgb(147, 183, 191);
    --secondary-color3: rgb(13, 13, 13);
    --secondary-color4: rgb(242, 242, 242);
    --secondary-color5: rgba(242, 242, 242, 0.6);
    --accent1-color: rgb(248, 83, 7);
    --accent2-color: rgb(189, 97, 192);

    --heading-font: "Playfair Display", serif; 
    --paragraph-font: "Roboto", sans-serif;
}

* {
    margin: 0 ;
    font-family: "Roboto", serif;
}

header {
    background-color: var(--secondary-color2);
    padding: 0.2rem; 
}

header div {   
    padding: 0.5rem;
}

#hamMenu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--primary-color2);
    position: absolute;
    top: 0.1rem;
    right: 1rem;
}

#hamMenu::before {
    content: "≡";
    font-size: 2.5rem;
}

#hamMenu.open::before{
    content: "↗";
}

.navigation {
    display: grid;
    grid-template-rows: 0fr;
    background-color: var(--primary-color3);
    transition: grid-template-rows 0.5s ease-out;   
}
.navigation li {
    list-style-type: none;
    padding: 0.4rem;
    text-align: center;
    
}
.navigation ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}
.navigation a {
    padding: 0.2rem 0;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color4);
    width: 100%;
}

.navigation a:hover {
    font-weight: 700;
}



.navigation .current-menu-item {
    background-color: var(--secondary-color4);
    color: var(--primary-color2);
}

footer {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: start;
    text-align: left;
    padding: 1rem 0;
    background-color: var(--secondary-color2);
}

footer div {
    padding: 0.5rem;
}

footer .info {
    width: 100%;
}

footer img {
    padding: 0.8rem;
}

main {
    display: flex;
    flex-direction: column;     
}

main h1 {
    text-align: center;
    color: var(--primary-color1);    
}

.menu button {
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    margin: 0.7rem;
    display: grid;
    grid-template: auto auto auto auto auto/ 1fr 1fr;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0.1em 0 1em var(--primary-color2);
}

.grid section h2 {
    grid-column: 1/4;
    text-align: center;
    background-color: var(--primary-color2);
    color: var(--secondary-color4);
    align-self: center;
    width: 100%;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.grid section img {
    grid-column: 1/2;
    grid-row: 2/6;
    width: 80%;
}

.grid section :nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    width: 100%;  
}
.grid section :nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;    
    width: 100%;  
}
.grid section :nth-child(5) {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: left; 
    width: 100%;    
}
.grid section :nth-child(6) {
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: left; 
    width: 100%;   
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    flex-direction: row;
}

.list section img {
    display: none;
}

.list section h2 {
    background-color: white;
    color: var(--primary-color1);
}



/* Rules to style the home page */

.hero {
    position: relative;
}


.hero img {
    max-width: 100%;
    height: auto;
    
}

.hero h1 {    
    /* position: absolute;
    z-index: 1; */
    color: var(--primary-color2);   
    left: 2rem;
    font-size: 1.4rem;
}

.hero p {
    
    color: var(--secondary-color4);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--primary-color2);
    font-size: small;
}

.hero a {
    text-decoration: none;
    position: absolute;
    bottom: 2em;
    left: 3em;
    background-color: var(--primary-color2);
    z-index: 1;
    color: var(--secondary-color4);
    padding: 0.4rem;
    border-radius: 5px;
}

.info {
    /* display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;

}

.inside {
    height: 10rem;
    box-shadow: 0.1em 0 1em var(--primary-color2);
}

.inside h2 {
    text-align: center;
    background-color: var(--primary-color2);
    border-bottom: 1px solid var(--primary-color2);
    color: var(--secondary-color4);
    padding: 0.5rem;
}

.wedata {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.forecast {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.home .grid {
    display: none;
}

.spot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.spot section {
    margin: 0.7rem;
    display: grid;
    grid-template: auto auto auto auto auto/ 1fr 1fr;
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0.1em 0 1em var(--primary-color2);
}

.spot section h2 {
    grid-column: 1/4;
    text-align: center;
    background-color: var(--primary-color2);
    color: var(--secondary-color4);
    align-self: center;
    width: 100%;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.spot section img {
    grid-column: 1/2;
    grid-row: 2/6;
    width: 80%;
}

/* The rules bellow here are intended to style the Joing page */
.join .info {
    display: none;
}

.join .grid {
    display: none;
}

.join #spot {
    display: none;
}

/* Rules for styling the form */

.designOne fieldset {
    margin: 2rem 0;
    border: 1px solid var(--primary-color2);
    border-radius: 6px;
    /* padding: .5rem 2%; */
    width: 100%;
    max-width: 350px;
}

.designOne legend {
    color: var(--primary-color1);
    padding: 0 .5rem;
}

.designOne label {
    display: block;
    padding-top: 1rem;
    color: var(--primary-color1);
}

.designOne input[type="text"],
.designOne input[type="tel"],
.designOne input[type="email"],
.designOne textarea
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 350px;
    appearance: none;
}

.designOne input[type="radio"]
{
    margin-right: 6px;
}

.designOne input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--primary-color3), var(--primary-color2));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 350px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.designOne input:required {
    border-left: solid 8px var(--primary-color3);
}

.designOne input:required:valid {
    border-left: solid 8px var(--secondary-color2);
}

form {
    width: 400px;
    padding: 0.2rem;
    /* margin: 0 auto; */
}

.form {
    
    padding: 1rem;
    margin: 2rem auto;
}
.form h2 {
    text-align: center;
    color: var(--primary-color2);
}

#title {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: var(--primary-color3);
    padding: 5px;
    border-bottom: #aaa 1px solid;
}

#mydialog {
    border: 3px solid var(--primary-color3);
}

#mydialog h2 {
    margin: 0;
    color: var(--secondary-color4);
}

#mydialog button {
    margin: 0;
    border: 1px solid var(--primary-color1);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color12);
    color: var(--primary-color3);
}

#mydialog p {
    padding: 10px;
    color: var(--primary-color1);
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
}
#showHere{
    margin: 0 auto;

}
#showHere section {
    margin: 0.7rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* align-items: center; */
    gap: 1rem;
    box-shadow: 0.1em 0 0.5em var(--primary-color2);
    text-align: center;
    
}

#showHere button {
    margin: 0 auto;
    background-image: linear-gradient(var(--primary-color3), var(--primary-color2));
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.3rem;

}

#showHere h2 {
    color:  var(--primary-color2);
}


.thanks .info {
    display: none;
}

.thanks .grid {
    display: none;
}

.thanks #spot {
    display: none;
}

/* THE CODE BELOW IS FOR STYLING THE DISCOVER PAGE */

#discover .info, 
.grid,
.spot {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    
    text-align: center;
    padding:0.5rem;
    border-bottom: 1px solid var(--primary-color1);
    
}
figure {
    padding: 0.5rem;
}


#discover section:first-child {
    
    background-color: var(--primary-color3);
    padding: 2rem 0;
}

#discover section:first-child div {
    width: 250px;
    height: 200px;
    box-shadow: 0.1em 0 0.5em var(--primary-color2);
    margin: 1rem auto;
    background-color: var(--secondary-color4);
    
    
}

#discover section:nth-child(2) {
    padding: 1rem;
    margin: 0 auto;
    padding: 2rem;
}

#discover section:first-child div:first-child {
    
    display: grid;
    justify-content: center;
    align-items: center;

}

.message {
    color: var(--primary-color1);
    font-size: 1.2rem;
}

#discover h3 {    
    max-width:50%;
    /* text-align: center; */
    padding: 0.5rem;
    border-bottom: solid 1px var(--primary-color1);
    /* border: solid 1px orange; */
}

#discover h2 {
    padding: 2rem;
    max-width: 100%;
    text-align: center;
    color: var(--primary-color3);
    font-size: 2rem;
}



@media (min-width: 800px) {

    #hamMenu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;       
    }
    
    .navigation {
        grid-template-rows: 1fr;
    }
    .navigation ul{
        align-items: end;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        background-color: var(--secondary-color2);
    }
    
    .navigation li {
        padding: 0 1rem;
        
    }  
    
    .navigation a {
        color: var(--primary-color2);
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem 2rem;
    }

    /* Rules to style the home page */

    .hero img {
        max-width: 100%;
        height: auto;
    }
    

    .hero {
        position: relative;
    }

    .hero h1 {
        position: absolute;
        left: 7em;
        color: var(--secondary-color4);
        text-align: left;
        font-size: 3rem;
    }

    .hero p {
        position: absolute;
        top: 10em;
        left: 21em;
        color: var(--primary-color2);
        background-color: var(--secondary-color5);
        padding: 0.5rem;
        font-size: 1rem;
    }

    .hero a {
        position: absolute;
        font-size: 2em;        
        text-align: center;
    }

    .join {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;        
        width: 90%;
    }

    #showHere {
        /* border: 1px solid red; */
        padding: 5rem;
    }

    #discover {
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    #discover section:nth-child(2) {
        max-width: 700px;
    }

    .hover:hover {box-shadow: 0 0 50px #333;}
}