* {
    font-family: "Roboto", serif;
    margin: 0 auto;
    padding: 0 auto;
}

:root {
    --primary-color1: rgb(55, 16, 129);
    --primary-color2: rgb(218, 213, 241);
    --font-color: rgb(247, 247, 253);
}

header {
    padding: 0.5rem; 
    text-align: center;
    color: var(--primary-color1);
	box-shadow: 0 0 10px #656b6b;
}

main {
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color2);
    border: 1px solid var(--primary-color1);
    margin: 0.5rem auto;
}

h2 {
    color: var(--primary-color1);
    padding: 0.5rem 0;
}
img {
    max-width: 50%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 0.1em 0 1em rgb(80, 78, 78);
}

footer {
    text-align: center;
    color: var(--primary-color);
}

@media (min-width: 50em) {
    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    

    section {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color2);
        border: 1px solid var(--primary-color1);
        margin: 0.1rem 0.1rem;
    }
}